.login-form {
  justify-content: center !important;
}

.file-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.annonce-file {
  margin: 0 7px 10px;
}

.annonce-file img {
  max-width: 160px;
  width: 100%;
  height: auto;
  height: 100%;
}

.anonce-success {
  text-align: center;
  padding: 50px 0 80px;
}

.anonce-success img {
  display: block;
  width: 80px;
  margin: 0 auto 30px;
}

.empty-annonce img {
  display: block;
  width: 200px;
  margin: 0 auto 30px;
}
